* {
    font-family: 'Press Start 2P', cursive;
}
.formatoindice {
    background-image: url('imagenespokemons/kanto-map.jpeg'); /* Cambia esto a la ruta de tu imagen de fondo */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.h1indice {
    display: inline-block;
    text-align: center;
    font-size: 2em; /* Ajusta el tamaño de la fuente según sea necesario */
    color: rgb(255, 255, 255);
    background: rgba(0, 0, 0, 0.5); /* Fondo oscuro para el subrayado */
    padding: 4px;
    margin: 0;
    position: absolute;
    top: 3%;
    left: 50%;
    transform: translateX(-50%);
}
.pokedex {
    position: absolute;
    top: 30%; /* Ajusta este valor para posicionar la imagen un poco por encima de la mitad */
    left: 5%; /* Ajusta este valor para posicionar la imagen en el lado izquierdo */
    transform: translateY(-50%);
    width: 300px; /* Ajusta el tamaño de la imagen según sea necesario */
    height: auto;
}
.enlaces {
    color: white;
    position: absolute;
    top: 50%; /* Ajusta este valor para posicionar los enlaces debajo de la imagen */
    left: 5%; /* Ajusta este valor para posicionar los enlaces en el lado izquierdo */
    transform: translateY(-50%);
    list-style-type: none; /* Elimina los puntos de la lista */
    padding: 0;
    background-color: rgba(255, 255, 255, 0.5);
}
.imagenpokemons {
    position: relative;
    top: 0;
    left: 0;
    transform: none;
    text-align: left; /* Mueve la imagen hacia la izquierda */
}
.fondopokemons {
    background-color: rgb(237, 206, 134);
}
.titulopokemons {
    text-align: center;
    margin-top: 20px; /* Ajusta el margen superior según sea necesario */
}
.tipocyndaquil {
    background-color: orange; /* Resalta la palabra en naranja */
    color: rgb(0, 0, 0); /* Ajusta el color del texto */
    padding: 2px 4px; /* Añade un poco de padding para el resaltado */
    border-radius: 3px; /* Añade bordes redondeados */
}
.descripcionpokemons {
    text-align: left; /* Alinea el texto a la izquierda */
    margin-top: 10px; /* Ajusta el margen superior según sea necesario */
    font-size: 1em; /* Ajusta el tamaño de la fuente según sea necesario */
    color: rgb(0, 0, 0); /* Ajusta el color del texto según sea necesario */
    width: 100%; /* Asegura que ocupe todo el ancho */
}
.botonindice {
    display: inline-block; /* Cambia a inline-block para que no ocupe toda la línea */
    margin-left: 600px; /* Centra el botón horizontalmente */
    padding: 10px 20px;
    font-size: 1em;
    color: white;
    background-color: #ff4500; /* Color de fondo del botón */
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
}
.tipogengar {
    background-color: rgb(144, 85, 216); /* Resalta la palabra en naranja */
    color: rgb(0, 0, 0); /* Ajusta el color del texto */
    padding: 2px 4px; /* Añade un poco de padding para el resaltado */
    border-radius: 3px; /* Añade bordes redondeados */
}
.tipomew {
    background-color: rgb(203, 17, 141); /* Resalta la palabra en naranja */
    color: rgb(255, 255, 255); /* Ajusta el color del texto */
    padding: 2px 4px; /* Añade un poco de padding para el resaltado */
    border-radius: 3px; /* Añade bordes redondeados */
}
.tiporayquaza {
    background-color: rgb(100, 121, 6); /* Resalta la palabra en naranja */
    color: rgb(255, 255, 255); /* Ajusta el color del texto */
    padding: 2px 4px; /* Añade un poco de padding para el resaltado */
    border-radius: 3px; /* Añade bordes redondeados */
}



